/* ==========================================
        LARGE TABLET (1200px)
========================================== */

@media(max-width:1200px){

.container{

    width:95%;

}

.hero-content h1{

    font-size:58px;

}

.about-wrapper,
.principal-wrapper,
.contact-wrapper{

    grid-template-columns:1fr;

}

.facility-grid{

    grid-template-columns:repeat(2,1fr);

}

.academics-grid{

    grid-template-columns:repeat(2,1fr);

}

.gallery-grid{

    grid-template-columns:repeat(2,1fr);

}

.news-grid{

    grid-template-columns:repeat(2,1fr);

}

.testimonial-grid{

    grid-template-columns:repeat(2,1fr);

}

.footer-grid{

    grid-template-columns:1fr 1fr;

}

}


/* ==========================================
        TABLET (992px)
========================================== */

@media(max-width:992px){

.nav-links{

    display:none;

}

.nav-buttons{

    display:none;

}

.menu-btn{

    display:block;

}

.hero-content{

    text-align:center;

    margin:auto;

}

.hero-content h1{

    font-size:48px;

}

.stats-wrapper{

    grid-template-columns:repeat(2,1fr);

}

.why-grid{

    grid-template-columns:repeat(2,1fr);

}

}

/* ======================================================
                MOBILE HEADER FIX
====================================================== */

@media (max-width: 992px){

    /* Header */

    .main-header{

        padding: 8px 0;

    }

    .header-container{

        min-height: 70px;

        display: flex;

        justify-content: space-between;

        align-items: center;

    }

    /* Logo */

    .logo img{

        height: 55px;

        width: auto;

        object-fit: contain;

    }

    /* Hide desktop menu */

    .nav-menu{

        display: none;

    }

    .header-buttons{

        display: none;

    }

    /* Mobile menu button */

    .menu-toggle{

        display: flex;

        justify-content: center;

        align-items: center;

        width: 45px;

        height: 45px;

        font-size: 28px;

        cursor: pointer;

        color: #C62828;

    }

    /* Sidebar */

    .mobile-sidebar{

        width: 280px;

    }

}


@media (max-width: 768px){

    .header-container{

        min-height: 65px;

    }

    .logo img{

        height: 48px;

    }

    .menu-toggle{

        width: 42px;

        height: 42px;

        font-size: 25px;

    }

}


@media (max-width: 480px){

    .main-header{

        padding: 5px 0;

    }

    .header-container{

        min-height: 60px;

    }

    .logo img{

        height: 42px;

    }

    .mobile-sidebar{

        width: 250px;

    }

}
